<h1>Bookshelf</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @bookshelves.each do |bookshelf| %>
      <tr>
        <td><%= link_to bookshelf.name, bookshelf %></td>
        <td><%= bookshelf.user_id %></td>
        <td><%= link_to 'Destroy', bookshelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookshelf', new_bookshelf_path %>
