<h2>Bookshelf</h2>

<% if current_user.bookshelf %>
  <p>
    <%= link_to current_user.bookshelf.name, current_user.bookshelf %>
    <%= link_to 'Destroy', current_user.bookshelf, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>

<% unless current_user.bookshelf %>
  <p>
    <%= link_to 'New Bookshelf', new_bookshelf_path %>
  </p>
<% end %>
