<p id="notice"><%= notice %></p>


<h2><%= @bookshelf.name %></h2>

<ul>
  <% Book.all.each do | book | %>
    <% if @bookshelf.book_ids.include?(book.id) %>
      <li><%= link_to book.title, book_path%></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Add more books', edit_bookshelf_path(@bookshelf) %>
