<h1><%= @book.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <%= image_tag(@book.cover_photo_url, :width => 300) if @book.cover_photo.present? %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>
